<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shaxcoder.appname"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>AppName</name>
  <description>AppDescription</description>
  <author email="shaxrux243@gmail.com" href="https://shaxweb.github.io/projects">Shaxrux</author>

  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="FadeSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="500" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  
  <platform name="android">
    <icon src="res/icon.png" />
    <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
    <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
    <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" />
    <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" />
  </platform>

  <plugin name="cordova-plugin-splashscreen" spec="6.0.2" />

</widget>
