@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "ARCHIVO", serif;
  padding: 0;
  margin: 0;
  color: white;
}

:root {
  --border-color: #F1F1F2;
}

header, main, footer { padding: 2em; }
body {
  background: url("img/bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

header {
  color: white;
  border-radius: 0 0 .4em;
  backdrop-filter: blur(1em);
  border-bottom: 2px solid var(--border-color);
}

.box {
  backdrop-filter: blur(1em);
  padding: 1em;
  border: 2px solid var(--border-color);
  border-radius: .25em;
}

button {
  padding: 1em 2em;
  border: 2px solid var(--border-color);
  border-radius: 5em;
  background: none;
  box-shadow: 0 0 .5em var(--border-color);
}