@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');  
        
* {
  font-family: "ARCHIVO", serif;
  color: white;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #D2D2D23D;
  --border-color: #E4E5F0;
}

main { padding: 1em; }

body {
  background: url("background.png") no-repeat center center;
  background-size: cover;
}

header {
  background: #D2D2D23D;
  border: 2px solid #E4E5F0;
  border-radius: .5em;
  margin: .25em;
  padding: 1em;
  backdrop-filter: blur(1em);
  align-items: center;
}

.containerX {
  display: flex;
  flex-direction: column;
  gap: .5em 0;
}

span.small {
  font-size: .5em;
  border: 2px solid var(--border-color);
  background: var(--bg-color);
  padding: .25em .5em;
  border-radius: 1em;
}

.box {
  background: var(--bg-color);
  padding: .5em;
  border-radius: .5em;
  backdrop-filter: blur(1em);
  position: relative;
  transition: all .5s ease;
}

.box h2 { margin-block: 0 .5em; }
.box button { margin: .5em 0}
.box .date {
  font-size: .8em;
  position: absolute;
  right: .5em;
  bottom: .5em;
}
.box:hover {
  box-shadow: 0 0 1em var(--bg-color);
  transform: scale(1.025);
}

button {
  background: var(--bg-color);
  padding: .5em 2em;
  border-radius: .5em;
  border: 2px solid var(--border-color);
}

footer {
  background: var(--bg-color);
  color: white;
  padding: 1em;
}