@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "ARCHIVO", serif;
  padding: 0;
  margin: 0;
}

:root {
  --color1: #CEE6E8;
}

.big-space { font-size: 1.2em; }

header {
  background: var(--color1);
  padding: 1em;
}

.container {
  background: var(--color1);
  padding: 2em 1em;
  margin: 1em 0;
}
