@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Стандарт */
  font-family: "Noto Sans", serif;
  padding: 0;
  margin: 0;
  outline: 0;
}

:root {
  --color1: #F7F7F7;
  --color2: #FFFFFF;
  --color3: #FFB11E;
  --shadow: #E0E0E0;
  --txt-color: #000000;
}

body { background: var(--color1); color: var(--txt-color); transition: all .5s ease; }

header {
  background: var(--color2);
  padding: 1em;
  color: var(--txt-color);
  transition: all .5s ease;
}

main { padding: .5em; }

.notes-list {
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.note {
  position: relative;
  color: var(--txt-color);
  background: var(--color2);
  padding: 1em;
  border-radius: 1em;
  border: none;
  text-align: start;
  box-shadow: 0 0 .5em var(--shadow);
  font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
  transition: all .5s ease;
}

.note:hover {
  transform: scale(0.95);
}

.note .date {
  position: absolute;
  color: var(--txt-color);
  bottom: .5em; right: .5em;
}

#add-note-button {
  position: fixed;
  bottom: 5em; right: 1em;
  display: flex;
  background: var(--color3);
  border: none;
  border-radius: 50%;
  padding: 1em;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: var(--txt-color);
}

#view-note {
  border: 2px solid var(--color1);
  padding: 1em;
  border-radius: 1em;
  position: absolute;
  top: 1em; width: auto;
  min-width: 50%;
  max-width: 80%;
  backdrop-filter: blur(1em);
  color: var(--txt-color);
  transition: all .5s ease;
}

#view-note .buttons {
  position: absolute;
  bottom: 1em; right: 1em;
  color: var(--txt-color);
  transition: all .5s ease;
}

#view-note button {
  background: var(--color1);
  padding: .5em 1em;
  border: 2px solid var(--color2);
  border-radius: 1em;
  color: var(--txt-color);
  transition: all .5s ease;
}

#view-note pre {
  color: var(--txt-color);
  transition: all .5s ease;
  white-space: pre-wrap;
  word-wrap: break-word; /* для старых браузеров */
  overflow-wrap: break-word; /* современный стандарт */
}

/* 
#view-note pre {
  color: var(--txt-color);
  transition: all .5s ease;
  overflow: auto;
}
*/ 

.main-form {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form form {
  background: var(--color2);
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
  gap: .25em;
  color: var(--txt-color);
  transition: all .5s ease;
  box-shadow: var(--shadow);
}

.main-form form input,
.main-form form textarea {
  background: var(--color1);
  padding: .5em;
  border: none;
  outline: none;
  border-radius: .5em;
  color: var(--txt-color);
  transition: all .5s ease;
}

.main-form form button,
#emptyNotesMsg button {
  background: var(--color3);
  padding: .5em;
  border-radius: .5em;
  border: none;
  color: var(--txt-color);
  transition: all .5s ease;
}

.main-form form #errorBox {
  background: #FF0000B8;
  color: white;
  padding: .5em;
  border: 2px solid red;
  border-radius: .5em;
}

#emptyNotesMsg {
  background: var(--color2);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  box-shadow: 0 0 .5em var(--shadow);
  justify-content: space-between;
  color: var(--txt-color);
  transition: all .5s ease;
}

#aboutDev {
  position: fixed;
  bottom: 0; left: 0;
  color: gray;
  transition: all .5s ease;
}