@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');  
        
* {
  font-family: "ARCHIVO", serif;
  padding: 0;
  margin: 0;
}


header, main, footer { padding: 2em; }
header {
  background: black;
  color: white;
}

button {
  background: black;
  color: white;
  padding: 1em;
  border: 2px solid white;
  border-radius: .5em;
}

.main-form {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

form {
  background: black;
  color: white;
  padding: 1em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
}

form input {
  background: no-repeat;
  border: none;
  outline: none;
  padding: 1em;
  margin: .5em 0;
  border-left: 2px solid white;
  color: white;
}

